.custom-card {
  display: flex;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;

  background: radial-gradient(
    circle at 10% 20%,
    rgb(255, 197, 61) 0%,
    rgb(255, 94, 7) 90%
  );
}

.custom-row {
  display: flex;
}

.custom-col-md-4,
.custom-col-md-8 {
  flex: 0 0 auto;
  width: 33.3333%;
}

.custom-col-md-8 {
  width: 66.6667%;
}

.custom-card-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.custom-card-body {
  padding: 15px;
}

.custom-card-title {
  font-size: 1.25rem;
  margin-bottom: 10px;
  color: black;
  font-family: "Sofadi One", system-ui;
  font-weight: bolder;
}

.custom-card-text {
  margin-bottom: 10px;
  color: black;
  font-family: "Sofadi One", system-ui;
}

.custom-text-muted {
  font-size: 0.875rem;
  color: #999;
}

@media (max-width: 768px) {
  .custom-card {
    flex-direction: column;
  }

  .custom-col-md-4,
  .custom-col-md-8 {
    width: 100%;
  }
}
.custom-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image fills the container while maintaining aspect ratio */
  object-position: center; /* Centers the image */
  border-radius: 0; /* To ensure no border radius affects the image */
}
